          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDWICHES/ARABES CA  ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> MENU PIBES            ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> POLLOS DES / PASTAS   ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '6' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZERIA              ____comidas_____06co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS              ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '8' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENSALADAS             ____comidas_____08co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> OMELETTES Y TORTILLA  ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MINUTAS / PARA  ACOM  ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS Y SALSAS       ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/solvp/snippet/<%= '14' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PLATOS  APTO CELIACO  ____comidas_____14co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
